ASPNETCORE_ENVIRONMENT=Development
DOTNET_ENVIRONMENT=Development

TranscriptionWorker__TranscriptionProvider=<Provider to use for Transcription Service 0 = Whisper.Net, 1 = Groq, 2 = Cloudfalre>

S3Options__SecretKey=<Secret Key>
S3Options__BucketName=<Buket Name>
S3Options__ApiUrl=<S3 API Url>
S3Options__AccountId=<S3 Account Id>
S3Options__AccessKey=<S3 Access Key>

Jwt__Key=<JWT Key>
Jwt__Issuer=<JWT Issuer>
Jwt__Audience=<JWT Audience>

Groq__ApiKey=<Api Key>

ConnectionStrings__Redis=<Redis Connection String>
ConnectionStrings__Postgres=<Postgres Connection String>

Cloudflare__ApiKey=<API Key>
Cloudflare__AccountId=<Account Id>
ClientOptions__ClientDomain=<Frontend/Client domain>

# https://console.cloud.google.com/auth/clients/
Auth__Google__ClientSecret=<Secret Key used for Auth>
Auth__Google__ClientId=<Client Id>

AllowedOrigins__0=<Client Origin>

# Health Check for Whisper Worker Service
HealthCheck__EnableHealthCheck=true
HealthCheck__Port=8080
HealthCheck__Path=/live

HangfireServer__WorkerCount=1
HangfireServer__Queues__0=whisper-tiny-en
